<h2>New Job params</h2>

<%= render "form.html", [changeset: @changeset, conn: @conn, action: job_template_path(@conn, :create), handlers: @handlers] %>

<span><%= link "Back", to: job_template_path(@conn, :index) %></span>
